html, body {
    height: 100%;
}

/* h1 {
    padding-left: 0px;
    margin-left: 0px;
} */

span {
    color: #63b7af;
}

.jumbotron {
    background-color: #fff;
}

img {
    width: 200px; /* 350 for small screens */
    float: left;
}

/* .row {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.buttons {
    align-items: center;
    align-content: center;
    padding-top: 5px;
    text-align: center;
}

.btn {
    margin-left: 10px
}


/* @media (max-width: 576px) {
    img {
        width: 300px;
        float: left;
    }
} */


@media (max-width: 408px) {
    .btn {
        align-items: center;
        align-content: center;
        width: 100%;
        display: block;
        margin-bottom: 2px;
    }
}